.Job {
  padding: 10px;
  display: flex;
  text-align: left;
}

.Job:hover {
  background: #eeeeee;
}

.logo {
  width: 64px;
  margin-right: 10px;
  text-align: center;
}

.logo img {
  max-width: 64px;
  max-height: 64px;
}

.data {
  min-width: 0;
}

.date {
  font-size: 12px;
  color: #333333;
}

.salary {
  font-size: 12px;
  color: #006600;
  font-weight: bold;
}
